.white-text {
    color:white;
}

.drop-top {
    margin-top: 15vh;
    margin-bottom: 50vh;
    max-width: 25rem;
}

.pearl {
    background-image: 'url{https://www.tailoredoccasions.co.uk/opal-pocketfold.html}';
}