.white-text {
    color:white;
}

.brand-h {
    color: darkslategrey;
    font-weight: bold;
}
.drop-top {
    margin-top: 15vh;
    margin-bottom: 50vh;
    max-width: 25rem;
}

.pearl {
    background-image: url("https://www.tailoredoccasions.co.uk/opal-pocketfold.html");
}

body {
    background-image: url("https://c8.staticflickr.com/8/7294/26977181263_1beca8f167_o.jpg");
    background-size: 125%;
    font-family: sans-serif;
}