

/* Global Styles*/
a {
  display: block;
  color: #a76652;
}

img {
  border: none;
  border: transparent;
  width: 100%;
}

input, form, label {
  border: none;
  border-color: transparent;
  align-content: center;
}

body {
    background-image: url("https://i0.wp.com/78.media.tumblr.com/953b8d8bede22657dd7393a102a98bb0/tumblr_oxxezr9Nfq1woohnbo1_1280.jpg");
    background-size: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Headers */
.nav-pages {
  font-family: 'Oswald', sans-serif;
  color:black;
}


.btn {
  font-family: 'Oswald', sans-serif;
  color:black;
  text-transform: uppercase;
  background: transparent;
}

.profilecardbody {
  font-size: 90%
}

/* Cateogry(Home) Page*/
.category-image{
    height: 250px;
    width: 250px;
    text-align: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 20px;
  }

  
.header{
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: lightyellow;
  }
  
.white-bk {
  background-color: white;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}


.all-white{
  background-color: white;
  border: solid 1px #a76652;
  margin-left: 20px;
}

.white-bk1 {
  padding-top: 20px;
  background-color: rgb(255, 238, 240);
  margin-left: 70px;
  margin-right: 70px;
}

.card-body {
  background-color:white; 
}

.about-us {
  background-color: lightyellow;
}

.text-center {
  align-content: center;
  text-align: center;
}


.picheading {
  text-align: center;
  font-weight: 500;
  background-color: lightyellow;
  padding-top: 20px;
  padding-bottom: 20px;
}

.seperate {
  margin-top: 20px;
  margin-bottom: 20px;
}


.brand-h {
  color: black;
  font-weight: bold;
  font-family: 'Fahkwang', sans-serif;
}
.drop-top {
  margin-top: 15vh;
  margin-bottom: 50vh;
  max-width: 25rem;
}

.drop {
  margin-top:5vh;
  margin-bottom: 5vh;
}



/*Profile*/
.yourMakeup {
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;	
  background-size: contain;	  
  border: none;
}

#main {
  display: flex;
}

.products-thumbs {
  align-content: center;
  justify-content: center;
  margin-left: 30%;
} 

.profile-image {
  height: 200px;
  width: 200px;
  background-size: contain;
}

.input-wrapper {
  display: block;
  align-content: center;
}


.bg-light, .my-profile, .sidebar-prof {
  padding: 20px;
  border: solid 1px #c3847b;
  background: white;
}


.prof-header {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color:black;
    text-transform: uppercase;
}

.details-h {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color:black;
  text-transform: capitalize;
}


.details-header {
  font-family: 'Oswald', sans-serif;
  color:black;
  text-transform: capitalize;
}

.profile-labels {
  color: #a76652;;
}


/*Login Page & Global Card Styling*/

.center-flex {
    justify-content: center;
    margin: 20px;
}


.save{
    float: right;
}
.login-labels {
  color: black;
}


/* Profile Cards & Scroller*/

.container-max {
  max-width: 1800px;
}


.shop-save-studios {
  padding: 10px;
  margin-left: 2rem;
}

.items-cards {
  width: 18rem;
  border: none;
} 


.places {
  max-width: 300px;
}

/* Scrollbar */

.scrollbar {
  -webkit-overflow-scrolling: touch;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    margin: 20px;
    -webkit-scrollbar: ;
  
}

/* Special Effects */
.btn:hover {
  background-image:none;
  background-color:#cf9e96;
  color:white;
}

a:hover{
color: pink;
}
/* Media Queries */