/* Global Styles*/

body {
    background-image: url("https://i0.wp.com/78.media.tumblr.com/953b8d8bede22657dd7393a102a98bb0/tumblr_oxxezr9Nfq1woohnbo1_1280.jpg");
    background-size: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.category-image{
    height:300px;
    width: 300px;
    text-align: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 20px;
  }
  .profile-image {
    height: 200px;
    width: 200px;
    background-size: contain;
  }
  .header{
      font-size: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
      background-color: lightyellow;
  }
  .white-bk {
      background-color: white;
      padding-top: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      padding-bottom: 50px;
  }
.white-bk1 {
    padding-top: 20px;
    background-color: rgb(255, 238, 240);
    margin-left: 70px;
    margin-right: 70px;

}
  .card-body {
      background-color:white; 
      margin-left: 70px;
      margin-right: 70px;
  }

img {
    width: 100%;
  }

.picheading {
    text-align: center;
    font-weight: 500;
    background-color: lightyellow;
    padding-top: 20px;
    padding-bottom: 20px;
}

  .seperate {
      margin-top: 20px;
      margin-bottom: 20px;
  }


  .bg-light, .sidebar-prof {
    padding: 10px;
    border: solid 1px #ffcccc;

  }

.prof-header {
    font-weight: bold;
}
  /* .profile {
    padding-left: 35px;
  } */

/*Login Page & Global Card Styling*/

.center-flex {
    justify-content: center;
    margin: 20px;
    align-content: center;
    padding: 10px;
}

.profile-sidebar{ 
    text-align:center;
    align-content:center;
}
.white-text {
    color:white;
}

.nav-pages {
    font-family: 'Oswald', sans-serif;
    color:black;
}

.brand-h {
    color: black;
    font-weight: bold;
    font-family: 'Fahkwang', sans-serif;
}
.drop-top {
    margin-top: 15vh;
    margin-bottom: 50vh;
    max-width: 25rem;
}

.drop {
    margin-top:5vh;
    margin-bottom: 5vh;
}

.pad-it {
    margin-top: 1vh;
}

/* .pearl {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwVA7H2P85w-V1fmnG3Om-MJN9FgiyGSsUM-PB8smTpvyS1_yZ");
    height: 50%;
    background-size: cover;
}

.shop-save {
    width: 75%;
}

.saved-rem {
  width: 25%;
  display: inline-block;
}

.upload-btn {
      color: white;
      border: 0ch;
      background-color: cadetblue
  }
  
.category-tag {
      text-align: center
  }

.card-margin {
    margin-top: 20px;
}

.profile-pad {
    padding: 20px;
}

form {
padding-top: 5px;
padding-bottom: 5px
}

button {
    width: 200px;
    padding-bottom: 2px
}