/* Global Styles*/

body {
    background-image: url("https://picjumbo.com/wp-content/uploads/makeup-brushes-on-white-marble-background_free_stock_photos_picjumbo_DSC06754-1570x1047.jpg");
    background-size: 100%;
    width: 100%;
    font-family: "Raleway";
}

.category-image{
    height:300px;
    width: 300px;
    text-align: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 20px;
  }
  .profile-image, .yourMakeup {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .header{
      font-size: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
      background-color: lightyellow;
  }
.home-container {
    background-color: white;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
      
  .bg-light, .sidebar-prof {
    padding: 15px;
  }

  /* .profile {
    padding-left: 35px;
  } */

/*Login Page & Global Card Styling*/

.center-flex {
    justify-content: center;
    margin: 20px;
    align-content: center;
    padding: 10px;
}

.profile-sidebar{ 
    text-align:center;
    align-content:center;
}
.white-text {
    color:white;
}

.nav-pages {
    font-family: 'Oswald', sans-serif;
    color:black;
}

.brand-h {
    color: black;
    font-weight: bold;
    font-family: 'Fahkwang', sans-serif;
}
.drop-top {
    margin-top: 15vh;
    margin-bottom: 50vh;
    max-width: 25rem;
}

/* .pearl {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwVA7H2P85w-V1fmnG3Om-MJN9FgiyGSsUM-PB8smTpvyS1_yZ");
    height: 50%;
    background-size: cover;
} */

.shop-save {
    width: 75%;
}

.saved-rem {
  width: 25%;
  display: inline-block;
}

.upload-btn {
      color: white;
      border: 0ch;
      background-color: cadetblue
  }
  
.category-tag {
      text-align: center
  }

.card-margin {
    margin-top: 20px;
}

.profile-pad {
    padding: 20px;
}

form {
padding-top: 5px;
padding-bottom: 5px
}

button {
    width: 200px;
    padding-bottom: 2px
}

label {
    color: darkcyan
}

.save {
    color: brown;
    font-weight: bold;
    background-color: blanchedalmond
}