/* Global Styles*/

body {
    background-image: url("https://i0.wp.com/78.media.tumblr.com/953b8d8bede22657dd7393a102a98bb0/tumblr_oxxezr9Nfq1woohnbo1_1280.jpg");
    background-size: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* Cateogry Page*/
.category-image{
    height: 250px;
    width: 250px;
    text-align: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .header{
      font-size: 50px;
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
      background-color: lightyellow;
  }
  
  .white-bk {
    background-color: white;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  
.white-bk1 {
    padding-top: 20px;
    background-color: rgb(255, 238, 240);
    margin-left: 70px;
    margin-right: 70px;
}

.card-body {
  background-color:white; 
  }

.about-us {
    background-color: lightyellow;
}

.text-center {
    align-content: center;
    text-align: center;
}

img {
    width: 100%;
}

.picheading {
    text-align: center;
    font-weight: 500;
    background-color: lightyellow;
    padding-top: 20px;
    padding-bottom: 20px;
}

  .seperate {
      margin-top: 20px;
      margin-bottom: 20px;
  }


/*Profile*/

.yourMakeup {
    height: 150px;
    width: 150px;
    align-content: center;
    background-repeat: no-repeat;	
    background-size: contain;	  
  }

.profile-image {
    height: 200px;
    width: 200px;
    background-size: contain;
  }

.input-wrapper {
    display: block;
    align-content: center;
}

.bg-light, .sidebar-prof {
    padding: 10px;
    border: solid 1px #c3847b;

}

.prof-header {
    font-weight: bold;
}
  /* .profile {
    padding-left: 35px;
  } */


/*Login Page & Global Card Styling*/

.center-flex {
    justify-content: center;
    margin: 20px;
}

.profile-sidebar{ 
    text-align:center;
    align-content:center;
}
.white-text {
    color:white;
}

.nav-pages {
    font-family: 'Oswald', sans-serif;
    color:black;
}

.brand-h {
    color: black;
    font-weight: bold;
    font-family: 'Fahkwang', sans-serif;
}
.drop-top {
    margin-top: 15vh;
    margin-bottom: 50vh;
    max-width: 25rem;
}

.drop {
    margin-top:5vh;
    margin-bottom: 5vh;
}

.pad-it {
    margin-top: 1vh;
}

.profile-labels {
    color: #a76652;;
}
.save{
    float: right;
}
.login-labels {
  color: black;
}

/* Profile Cards Scroller*/

.card {
  margin-bottom: 2rem;
  border: 0;
  display: flex;
  max-width: 18rem;
  margin: 10px;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  
}

.shop-save-studios {
  padding: 10px;
  margin-left: 2rem;
}
/* .card-text {
  font-size: 85%;
}

.items-cards {
  width: 18rem;
} */

.beauty-scroller {
  display: flex;
  overflow-x: scroll;
}

/*Carousel*/

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }
  
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
  